@import './base.css';

#app {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #9ddcec;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
      filter: drop-shadow(0 0 0.5em #e0b5ecaa);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
